<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Deal collected</h1>
    <p>
      You have successfully collected deal on queue4u.herokuapp.com,
      your username is: <%= @user.name %>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>