<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Request collected</h1>
    <p>
      Your request have been collected on queue4u.herokuapp.com
    </p>
    <p>Have a great day!</p>
  </body>
</html>