<br><h1>MY COLLECTION HISTORY</h1><br>

<section class="section">
  <div class="container">

    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">DATE COLLECTED</th>
        <th scope="col">CREATOR NAME</th>
        <th scope="col">WRITE A REVIEW</th>
        <th scope="col">POST</th>
        </tr>
    </thead>
    
    <% @deals.each do |deal| %>
    <tbody>
      <tr>

        <td><%= deal.created_at.to_s(:db) %></td>

        <% user = @users.find(deal.creator_id) %>
        <td><%= user.name.capitalize() %></td>
        
        <td>
          <% if deal.collector_rating %>
            reviewed
          <%else%>
            <%= link_to 'write a review', add_reviews_path(deal.id) , :class => 'btn btn-outline-dark' %>
          <% end %>
        </td>

        <td>
          <%= link_to 'view post', post_path(deal.post_id), :class => 'btn btn-outline-dark' %>
        </td>

      </tr>
    </tbody>
    <% end %>

    </table>

  </div>
</section>