@import 'toastr';

@import 'bootstrap/scss/bootstrap'; // never forget the semicolon at the end

@import './static_pages.scss';
@import './posts.scss';
@import './styles.scss';
@import './profiles.scss';
@import './footer.scss';


.btn {
    margin: 10px
}


.navbar-nav, ul, li {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
  }
