@import url(https://fonts.googleapis.com/css?family=Roboto);

.sansserif {
    font-family: Arial, Helvetica,sans-serif;
  }

// pro->profile font
.pro {
    font: 18px Arial, sans-serif;
    text-align: left;
}