.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .homecard {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .homecard .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;

  }
  
  .homecard .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
    
  }
  
  .homecard .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .homecard:hover {
    transform: scale(0.95, 0.95);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
/* begin--------------------my account--------------------*/
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  // font-family: futurabook,helvetica neue,Helvetica,Arial,sans-serif;
  font-family: 'Fira Sans', sans-serif;
  color: #000;
  margin: 0 0 20px;
}
.pt_account h1, .pt_order h1, .pt_wish-list h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.account-user_name {
  font-size: 20px;
  text-transform: none;
}
.content-asset {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  // font-family: HelveticaNeueLT,helvetica neue,Helvetica,Arial,sans-serif;
  font-family: 'Fira Sans', sans-serif;
  color: #000;
}
div {
  display: block;
}
body {
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 20px;
  // font-family: futurabook,helvetica neue,Helvetica,Arial,sans-serif;
  font-family: 'Fira Sans', sans-serif;
  color: #000;
  background: #fff;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.content-asset a:not(.ui-tabs-link) {
  color: #5a5a5a;
  text-decoration: none;
}
// .account-section ==> personal info | address | div
.account-section {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 4px #999;
  margin: 0 35px 30px 0;
  min-height: 200px;
  padding: 45px 0;
  width: 45%;
}
// personal info | address | div/block align center
.account-options {
  text-align: center;
}
// the font of personal info(account.html.erb)
.account-options-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  font-family: futurabook,helvetica neue,Helvetica,Arial,sans-serif;
  color: #000;
  display: block;
  margin: 10px 0;
  text-transform: uppercase;
}
.content-asset {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  font-family: HelveticaNeueLT,helvetica neue,Helvetica,Arial,sans-serif;
  color: #000;
}
a {
  background: 0 0;
}
a:active, a:hover {
  // outline: 0;
  background: rgba(#EEEFEC, 0.9);
  color: #fff;
}

a:-webkit-any-link {
  cursor: pointer;
}
/* end--------------------my account--------------------*/