
<footer class="footer-distributed">

    <div class="footer-right">

        <a href="#"><img height="25" width="25" src="<%= image_path('twitter.png') %>" alt="twitter icon" ></a>
        <a href="#"><img height="25" width="25" src="<%= image_path('facebook.png') %>" alt="facebook icon" ></a>
        <a href="#"><img height="27" width="26" src="<%= image_path('instagram.png') %>" alt="instagram icon" ></a>
        <a href="#"><img height="27" width="26" src="<%= image_path('email.png') %>" alt="email icon" ></a>

    </div>

    <div class="footer-left">
    
        <p class="footer-links login">
            <a class="link-darkgreen-formal" href="/">Home</a>
            <a class="link-darkgreen-formal" href="/posts/">Posts</a>
            <a class="link-darkgreen-formal" href="/user/sign_up">Register</a>
        </p>
        <p class='login'>Q4U &copy; 2020</p>
    </div>

</footer>